@import "null";
@import "vars";
@import "general";
@import "header";
@import "login";
@import "pagination";
@import "search";
@import "about";
@import "news";
@import "settings";
@import "orders";
@import "modal";
@import "footer";
.flatpickr-day.selected {
    background: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
}
.flatpickr-calendar {
    width: 265.1px!important;
}
.flatpickr-innerContainer {
    padding: 0 10px 10px;
}
.flatpickr-calendar .dayContainer, .flatpickr-days {
    min-width: 245.1px!important;
    width: 245.1px!important;
    max-width: 245.1px!important;
}
.flatpickr-day {
    height: 35px!important;
    line-height: 35px!important;
    &.disabled {
        opacity: .5;
        pointer-events: none;
    }
}

